<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117834141705-kpfpscuohspbreo9ul2gifjnuj076476.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117834141705-kpfpscuohspbreo9ul2gifjnuj076476</string>
	<key>API_KEY</key>
	<string>AIzaSyAakKncr5l1bqmasZBY3hAAepjCelERqeI</string>
	<key>GCM_SENDER_ID</key>
	<string>117834141705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abservetech.FireBaseChat</string>
	<key>PROJECT_ID</key>
	<string>testapp-73205</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-73205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117834141705:ios:91a16dce93b49cdd8fa8d8</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-73205.firebaseio.com</string>
</dict>
</plist>